/* Library */
div.drophover {
    background: #fff url(../images/back-hover.png) repeat 0 0 !important;
}

html {
    background: #c5b68c url(../images/background.png) repeat-x 0 0;
    overflow-y: scroll;
}
body {}

/* Layout */
h1 {
    background: transparent url(../images/logo.png) no-repeat 0 0;
    height: 122px;
    left: 20px;
    position: absolute;
    text-indent: -10000px;
    top: 35px;
    width: 267px;
}
div#container {
    margin: 0 auto;
    position: relative;
    width: 980px;
}
    ul#tabs {
        position: absolute;
        right: 10px;
        top: 144px;
    }
        ul#tabs li {
            margin-right: 5px;
            box-shadow: 0px 0px 5px #86774c;
            -moz-box-shadow: 0px 0px 5px #86774c;
            -webkit-box-shadow: 0px 0px 5px #86774c;
        }
            ul#tabs li a {
                color: #a59464;
            }
        ul#tabs li.ui-state-active {
            background: #a59464 none;
            border-color: #907f4f;
        }
            ul#tabs li.ui-state-active a {
                color: #fff;
            }
        ul#tabs li.ui-state-hover {
            background: #a59464 none;
            border-color: #907f4f;
        }
            ul#tabs li.ui-state-hover a {
                color: #fff;
            }
          
    div#content {
        position: relative;
        top: 178px;
        box-shadow: 0px 0px 15px #86774c;
        -moz-box-shadow: 0px 0px 15px #86774c;
        -webkit-box-shadow: 0px 0px 15px #86774c;
    }
    div#content div#tabs_1.ui-tabs-panel {
        padding-left: 5px;
        padding-right: 0;
    }
    div#content div#tabs_1,
    div#content div#tabs_2,
    div#content div#tabs_3 {
        background-color: #fff;
        padding: 10px;
        width: 960px;
    }
        textarea#css,
        textarea#html {
            height: 400px;
            font-family: Consolas, Courier New, Monaco, monospace;
            font-size: 12px;
            width: 600px;
        }
    div#elements_container {
        background-color: #fff;
        border: dashed 1px #ddd;

        float: left;
        min-height: 100px;
        padding: 10px 9px;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        width: 940px;
    }
        div.hor {
            background-color: #eee;
            border-top: dotted 1px #ccc;
            border-bottom: dotted 1px #ccc;
            cursor: pointer;
            min-height: 50px;
            padding: 10px 0;
        }
        a.edit_element,
        a.delete_element {
            border: solid 1px #000;
            display: block;
            height: 16px;
            padding: 1px;
            position: absolute;
            text-decoration: none;
            text-indent: -10000px;
            width: 16px;
        }
        a.edit_element {
            background: #fff url(../images/icons/wrench.png) no-repeat 1px 1px;
            left: 0;
            top: 0;
        }
        a.delete_element {
            background: #fff url(../images/icons/delete.png) no-repeat 1px 1px;
            top: 0;
            right: 0;
        }
    div#options {
        left: 292px;
        position: absolute;
        top: 13px;
    }
        div#options h2 {
            background: transparent url(../images/options.png) no-repeat 0 0;
            color: #907f4f;
            font-size: 32px;
            font-weight: bold;
            height: 112px;
            left: 10px;
            position: relative;
            top: 8px;
            text-indent: -10000px;
            width: 249px;
        }
        div#options p {
            color: #907f4f;
            position: absolute;
            width: 140px;
        }
            div#options p.column_selector {
                left: 295px;
                top: 3px;
            }
            div#options p.container_width {
                left: 430px;
                top: 3px;
            }
            div#options p.column_width {
                left: 570px;
                top: 3px;
            }
            div#options p.margin_width {
                top: 66px;
                left: 430px;
            }
            div#options p.container_padding {
                top: 66px;
                left: 570px;
            }
            div#options label {
                display: block;
                font-size: 14px;
                font-weight: bold;
            }
            div#options input {
                border: dashed 1px #a59464;
                color: #666;
                font-size: 16px;
                font-weight: bold;
                margin: 4px 2px 0 0;
                padding: 4px 5px 4px 0;
                text-align: right;
                width: 45px;
            }
            div#options select {
                border: dashed 1px #a59464;
                color: #666;
                font-size: 16px;
                font-weight: bold;
                padding: 3px 5px 3px 0;
                margin: 4px 2px 0 0;
            }
            div#options a {
                background-color: #fff;
                border: 1px solid #907f4f;
                color: #a59464;
                display: inline-block;
                font-size: 11px;
                font-weight: bold;
                margin-left: 5px;
                padding: 6px;
                text-decoration: none;
            }
                div#options a:hover {
                    background-color: #a59464;
                    border: 1px solid #907f4f;
                    color: #fff;
                }
    div#elements {
        padding-top: 20px;
    }
        div#elements ul {
        }
            div#elements ul li {
                border: solid 1px #555;
                color: #000;
                cursor: pointer;
                height: 40px;
                margin-bottom: 10px;
                padding: 4px;
                position: relative;
                width: 162px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
            }
                li#hor {
                    background-color: #f6f6f6;
                }
                li.col_1,
                li.col_5,
                li.col_9,
                li.col_13 {
                    background-color: #b8d0de;
                }
                li.col_2,
                li.col_6,
                li.col_10,
                li.col_14 {
                    background-color: #f8ca00;
                }
                li.col_3,
                li.col_7,
                li.col_11,
                li.col_15 {
                    background-color: #ff873d;
                }
                li.col_4,
                li.col_8,
                li.col_12,
                li.col_16 {
                    background-color: #cff09e;
                } 
                div#elements ul li:hover {
                    font-weight: bold;
                }
                div#elements ul li div {
                    background-color: #fff;
                    border: solid 1px #555;
                    height: 20px;
                    width: 160px;
                }
                    div#elements ul li div span {
                        background: #fff url(../images/back-bar-blue.png) repeat-x 0 0;
                        display: block;
                        height: 20px;
                    }
    div#modal {
    }
        div#modal a {
            background: transparent url(../images/icons/bullet_red.png) no-repeat left center;
            color: #777;
            line-height: 21px;
            padding: 0 0 0 20px;
            text-decoration: none;
        }
        div#modal a.active {
            background: transparent url(../images/icons/bullet_green.png) no-repeat 0 0;
            color: #000;
        }
div.ui-dialog {
    overflow: visible;
    box-shadow: 0px 0px 10px #86774c;
    -moz-box-shadow: 0px 0px 10px #86774c;
    -webkit-box-shadow: 0px 0px 10px #86774c;
}
div.ui-sortable-placeholder {
    border: dashed 1px #999;
}
div.ui-dialog-titlebar {
    background: #a59464 none;
    border-color: #907f4f;
}
span.ui-dialog-title {
    color: #fff;
}
div.ui-widget-content span.ui-icon {
    background-image: url(../css/custom-theme/images/ui-icons_ffffff_256x240.png);
}
div.ui-widget-content a.ui-state-hover {
    background: #706033 none;
    border-color: #5e4f24;
}